html,
body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main{
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-image:url(https://assets-v2.lottiefiles.com/a/343ba9ee-1151-11ee-9769-ff8fda2ce23a/ULLXaHiH2q.gif);
    background-size: cover;
    filter:blur(8px);
    background-position-y: 50%;
    background-position-x: 50%;

}
    
.player{
    background-color: aqua;
    position: absolute;
    transform: translate(-50%,50%);
    top:50%;
    left:50%;
    height: 300px;
    width: 400px;
    overflow: hidden;
    box-shadow: 4px 10px 10px;
}   
